:root {
    --bianco : #fcfcfe;
    --nero : #222222;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #1ea5ea;
}
.smartphone {
    background-color: #222222f7;
    height: 80vh;
    aspect-ratio: 9/16;
    margin: 3rem auto;
    border-radius: 30px;
    position: relative;
}
.topinfo {
    padding: 15px 35px;
    color: var(--bianco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.phoneBody {
    text-align: center;
    color: var(--bianco);
}
.info1 {
    margin: 1rem;
}
.phoneBody h2{
    margin-top: 30%;
}
.info2{
    margin-top: 2em;
}
.info2 i {
    color: #c62b2b;
    cursor: pointer;
    font-size: 24px;
}
.reset{
    margin-top: 1rem;
}
.info2 h4 {
    margin: 0.5rem;
}
.controls-bottom {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 10%;
    justify-content: space-around;
}
.controls-bottom img {
    width: 70px;
    cursor: pointer;
}
.destinatario {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    justify-content: center;
    align-items: center;
    color: var(--bianco);
}
.destinatario h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 15px;
}
.destinatario p {
    font-size: 1.1em;
}
.destinatario img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--bianco);
    margin-bottom: 2rem;
}
.utenze div{
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
    cursor: pointer;
    width: 70%;
    color: var(--nero);
    padding: 10px;
    border-radius: 25px;
    background-color: #fcfcfe;
    text-align: start;
}
.utenze h4 {
    margin:0;
    padding: 2px;
    min-width: 35%;
}
.utenze i {
    color: #1ea5ea;
}
.ricarica-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    border-radius: 30px;
    background-color: var(--bianco);
    z-index: 0;
    display: flex;
    justify-content: center;
}
.creditcard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 35%;
    border-radius: 15px;
    background-color: #253980;
    position: absolute;
    top: -15%;
}
.titleCarica {
    font-size: 16px;
    margin-top: 2rem;
    font-weight: 400;
}
.creditname {
    font-family: Verdana, sans-serif;
    font-size: 26px;
    font-style: italic;
}
.ricariche {
    position: absolute;
    bottom: 15%;
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ricariche div {
    color: var(--bianco);
    background-color: #253980;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 2;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home {
    font-size: 24px;
    cursor: pointer;
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 2rem;
}
.contact img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.contact i{
    width: 40px;
    color: #0fbd0f;
    cursor: pointer;
}
.contact-title{
    margin-top: 2rem;
}